<!DOCTYPE html>
<html>
  <head>
    <title>Strida</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="<%= image_url('favicon.ico') %>" >
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
    </script>
    <meta property="og:image" content="<%= image_url('splash_thumnail.png') %>">
    <meta property="og:video:width" content="700" />
    <meta property="og:video:height" content="576" /> 
    <meta property="og:type" content="webiste">
    <meta property="og:url" content="https://solomon-strida.herokuapp.com/">
    <meta property="og:title" content="Welcome to Strida!">
    <meta property="og:description" content="Strida is a production level clone of Strava built for edcuational purposes. It leverages Ruby on Rails (backend) with JavaScript via React/Redux (frontend).">
    <script src="https://kit.fontawesome.com/d74992b798.js" crossorigin="anonymous"></script>
    <% if logged_in? %>
      <script>
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
